[Desktop Entry]
Version=1.0
Name=Hypervisor Proxmox - Pveceph01
GenericName=Web Browser
GenericName[pt_BR]=Navegador da Internet
Comment=Access the Internet
Comment[pt_BR]=Acessar a internet

Exec=/usr/bin/google-chrome-stable --app=https://10.0.254.7:8006 --start-maximized --incognito --disable-features=TranslateUI
StartupNotify=true
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Actions=new-window;new-private-window;
